
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/saved.css" />
    <title>Saved</title>
</head>
<body>
    <div>
    <h1 style="display:flex">Saved has been succesful!</h1>
    <form class="form" action='/' method="GET">
       <a href="/"><img src="https://cdn1.iconfinder.com/data/icons/flat-world-currency-1/432/Flat_Currency_Bitcoin-512.png"/></a>
        <button class="coinButton" type="submit">Back to Home</button>
    </form>
    </div>
</body>
</html>